<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>tuesday!!</h1>
<div id="app">
{{ message }}
<button @click="toggle">change day</button>
</div>
<script type="importmap">
{
	"imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
	}
}
</script>
<script type="module">
import { createApp } from 'vue'
import Tuesday from './tuesday.js'
createApp(Tuesday).mount('#app')
</script>
</body>
</html>
